
a, a:link, a:visited {
    color: #428bca;
}

.news_box {
    border: 2px solid #2A5977;
    border-radius: 5px;
    margin: 15px 5px;
    padding: 5px;
    background: #fafafa;
    box-shadow: 2px 2px 5px 0px #777;
}

.news_data {
    float: left;
    width: 70%;
    padding: 5px;
}

    .news_data ul {
        list-style: none;
    }
    
    .news_data ul .tsec {
        margin-bottom: 20px;
    }
    
        .tsec .title a, .tsec .title a:visited{
            font-size: 1.5rem;
            font-weight: bold;
            color: #428bca;
            display: block;
        }
        
        .tsec .title, .tsec .kw {
            margin-bottom: 5px;
        }
        
        .tsec .title a {
            background: #fff none repeat scroll 0 0;
            padding: 4px;
            border: 1px solid #B5E7FF;
            border-radius: 6px;
        }
        
        .tsec .kw, .tsec .ndate {
            color: #777;
        }
     
    .news_data ul .ncontent {
        background: #fff none repeat scroll 0 0;
        padding: 4px;
        border: 1px solid #B5E7FF;
        border-radius: 6px;
        min-height: 160px;
        margin-bottom: 10px;
    }
        
    
.news_pic {
    float: right;
    width: 28%;
}

    .news_pic img {
        width: 100%;
        border: 2px solid #2A5977;
        border-radius: 5px;
        padding: 5px;
    }
    

#news_data {
    margin-bottom: 5px;
    background: #fcfcfc;
    padding: 3px;
    border: 1px solid #999;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#news_data .user_img_box {
    width: 100px;
    float: left;
}

#news_data .user_img_box img {
    width: 100%;
}

#news_data .ndatas {
    float: right;
    text-align: right;
    margin: 0 5px 0 0;
    width: 86%;
}

#news_data .ndatas span {
    font-size: 1.1rem; display: block;
}

#news_data .nkw {
    width: 86%;
    background: #efefef;
    border: 1px solid #aaa;
    float: right;
    text-align: right;
    margin: 7px 3px 0 0;
}

#news_data .nkw p {
    margin: 0 5px 0 0;
}

#news_pictures div {
    margin: 0 auto;
}

#news_pictures div img {
    display: block;
    max-height: 400px;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid #000;
    box-shadow: 6px 6px 6px rgba(10, 10, 10, 0.5);
}

#news_content {
    text-align: justify;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    margin: 30px 5px 10px;
    padding: 10px;
}


.view_comment {
    margin: 10px 5px;
    padding: 3px;
    background: #eee;
    border: 1px solid #555;
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.view_comment .head {
    margin: 1px;
    padding: 1px 1px 3px;
    border-bottom: 1px solid #aaa;
}

    .head .comment_user {
        float: left;
        margin-left: 3px;
        font-weight: bold;
    }

    .head .comment_date {
        float: right;
        margin-right: 3px;
        font-weight: bold;
    }
    
.view_comment .comment_text {
    margin-top: 20px;
    padding: 3px;
    text-align: justify;
}

