body {margin:0.5in;}

body #tartalom {border-style:none;}

h1{ display:none;}
#webnev, #kulsonav, #kisnavi, #Navi, #linkek, #kep, #webinfo{display:none;}
#tartalom iframe {display:none;}
.kerdes {display:none;}
.vezerles {display:none;}
.nemkell {display:none;}
.abc {display:none;}
.kifejez {display:none;}
.lapteteje {display:none;}

#tartalom a, pre, blockquote, table{color:#000; background-color:#fff;}
.story h2 {margin-bottom:0.2in;}
.story h3 {color:#000;}

table {font-size:10pt;}
p{
text-indent:0pt;
font-size: 12pt;
color:#000;
text-align:justify; font-family: Georgia, "Times New Roman", Times, serif;}

ul{ 
list-style-type:disc; color:#000; font-size: 12pt; }
ul ul{
list-style-type:square; color:#000; font-size: 12pt;}				
ol li{ color:#000; font-size: 12pt;}

#tartalom .pretag {
	font-family: "Courier New", Courier, mono;
	font-size:11pt;
	background-color:#fff;
	text-align: left;}
#tartalom .pre {
	font-family: "Courier New", Courier, mono;
	font-size:11pt;
	background-color: #fff;}

#tartjegyzek  ol li a { font-size:10pt;}
#tartalom table {background-color:#fff;}