@font-face
{
    font-family: 'Comfortaa';
    src: local('Comfortaa'), url('font/Comfortaa Regular.ttf') format('truetype'), url('font/Comfortaa_Regular.eot') format('eot');
}

@font-face
{
   font-family: 'BebasNeue';
	src: local('BebasNeue'), url('font/BebasNeue.eot') format('eot');
	src: local('BebasNeue'), url('font/BebasNeue.woff') format('woff'), url('font/BebasNeue.ttf') format('truetype'), url('font/BebasNeue.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
    font-family: 'LinLibertine_R';
	src: local('LinLibertine_R'), url('font/LinLibertine_R.eot') format('eot');
	src: local('LinLibertine_R'), url('font/LinLibertine_R.woff') format('woff'), url('font/LinLibertine_R.ttf') format('truetype'), url('font/LinLibertine_R.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
    font-family: 'Gabrielle';
	src: local('Gabrielle'), url('font/Gabrielle.eot') format('eot');
	src: local('Gabrielle'), url('font/Gabrielle.woff') format('woff'), url('font/Gabrielle.ttf') format('truetype'), url('font/Gabrielle.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face
{
    font-family: 'Sofia';
	src: local('Sofia'), url('font/Sofia-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Gabrielle-ie';
    src: url('font/Gabrielle.eot');
    
	font-family: 'LinLibertine_R_ie';
	src: url('font/LinLibertine_R.eot');
    
    font-family: 'BebasNeue';
	src: url('font/BebasNeue.eot');
}