
* {
    margin: 0;
    border: 0;
    padding: 0;
}

@charset "utf-8";

.clear:before,
.clear:after {
	content:" ";
	display: table
}

.clear:after { clear: both }

.errors
{
    list-style: none;
    font-weight: bold;
    list-style: outside none none;
    color: red;
    /*display: block;
    position: relative;
    width: 100%;*/
}


.pt-center {
    /*margin: 0 auto;*/
    text-align: center;
}

.debug_r
{
    margin: 10px;
    padding: 5px;
    background-color: #ddd !important;
    color: #000 !important;
    font-size: 1rem!important;
    border: 1px solid #999;
    -webkit-box-shadow: 4px 4px 11px 2px rgba(50, 50, 50, 0.37);
    -moz-box-shadow:    4px 4px 11px 2px rgba(50, 50, 50, 0.37);
    box-shadow:         4px 4px 11px 2px rgba(50, 50, 50, 0.37);
}

html {
    background: transparent url("../img/login.jpg") top left no-repeat;
}

body {
    font-size: 16pt;
}

section {
    width: 370px;
    background: #ffdfd3;
    padding: 10px 30px;
    margin: 50px auto;
    border: 2px solid red;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(10, 10, 10, 0.3);
}

.login_title {
    font-family: BebasNeue, Arial, sans-serif;
    font-size: 28pt;
}

img {
    width: 99%;
    border: 2px solid #cc0556;
    border-radius: 10px;
}

ul {
    list-style: none;
    margin-top: 10px;
}