
#user_matato .border_out {
    background: #ccc;
    border: 1px solid lightblue;
    padding: 2px;
    margin: 5px;
    width: 99%;
    height: 147px;
}

#user_matato .user_picture {
    width: 11%;
    margin: 2px 5px 2px 2px;
    float: left;
}

#user_matato .user_picture > img {
    width: 100%;
    border: 1px solid #999;
}


#user_matato .user_data {
    width: 73%;
    float: left;
    padding: 5px;
}

.user_data .user_id {
    width: 5%;
    display: inline-block;
}

.first_data .user_name input[type='text'] {
    width: 30%;
}



.secund_data .user_email {
    margin-left: 56px;
}

.user_data .user_email input[type='text'] {
    width: 53%;
}