/** COMMON PARTS / UNSORTED **/
body {
	font-weight: normal;
	overflow: auto;
	margin: 0px;
	font-family: "Verdana";
	font-size: 10px;
}

a { text-decoration: none; }

a.whiteUnderline { text-decoration: underline; font-weight: bold; color: white;}

.selecter { width: 105px; }
.selecter2 { width: 143px; }
.clearDiv { clear: both; }

.sysmsg {
	background-color: red;
	font-weight: bold;
	color: white;
	font-size: 12pt;
	text-align: center;
}

.adatok {
	font-family: sans-serif, serif;
	font-size: 9pt;
    font-weight: normal;
}

.adatok2 {
	font: 10px "Arial";
    font-weight: normal;
}

.kibe {
	font: 10pt "Verdana";
    font-weight: normal;
}

.searchp {
	font-size: 13px;
	font-weight: normal;
	display:inline;
}
.searchBiggerTxt {
	font-size: 13px;
}

.list {
	font-size: 10px;
	font-weight: normal;
	display:inline;
}

table {
    font: 10 "Verdana";
    font-weight: normal;
}
.relative, .relativeNoDim {
	position: relative;
}
	.relativeNoDim {
		width: 0px;
		height: 0px;
	}
.visited, .stateclicked {
	FILTER: Gray;
}
.stateon{
	FILTER: alpha(Opacity=80);
}
.stateoff{
	/*margin-top: 3px;*/
}
.errorLRFC {
	background-color: red;
	color: white;
	font: 10pt "Arial";
}
.successBG {
	background-color: green;
}

.ta_submit {
	width: 155px;
	height: 21px;
	cursor:pointer;
	text-align: center;
	font-size:10pt;
	font-family: Arial;
	border-width: 0px;
	color: white;
	font-weight:normal;
	padding: 0px;
	margin: 0px;
	border-spacing: 0;
	border-collapse: collapse;
	line-height: 21px;
	padding-bottom: 2px;
	background-repeat: no-repeat;
	background-position: top-left;
}

.outerglow {
	cursor: pointer;
	height: 0px;
	font-weight: bold;
	color: white;
	font-family: sans-serif;
	font-size: 8pt;
	filter: progid:dximagetransform.microsoft.glow(strength=1,color=red);
}
#mainarea span {
	height: 0px;
	font-weight: bold;
	color: white;
	font-family: sans-serif;
	font-size: 13pt;
	filter: progid:dximagetransform.microsoft.glow(strength=2,color=red)
}
.bold {
	font-weight: bold;
}
.feher:link {
	color: #ffffff;
	text-decoration: none;
}
.feher:visited {
	color: #ffffff;
	text-decoration: none;
}
.feher:hover {
	color: #ffffff;
	text-decoration: none;
}
.feher:activ {
	color: #ffffff;
	text-decoration: none;
}
.fl:link {
	color: #FEFEFE;
	text-decoration: none;
}
.fl:visit {
	color: #FEFEFE;
	text-decoration: none;
}
.fl:hover {
	color: #FEFEFE;
}
.fl:activ {
	color: #FEFEFE;
	text-decoration: underline;
}

.nagy:active {
	font: bold 18px sans-serif, Arial, Helvetica, Verdana;
	color: #CC3300;
	text-decoration: none;
}

.nagy:hover {
	font: bold 18px Verdana, Arial, Helvetica, sans-serif;
	color: #CC3300;
	text-decoration: none;
}

.nagy:link {
	font: bold 18px Verdana, Arial, Helvetica, sans-serif;
	color: #CC3300;
	text-decoration: none;
}

.nagy:visited {
	font: bold 18px Verdana, Arial, Helvetica, sans-serif;
	color: #CC3300;
	text-decoration: none;
}
.linkoperation:link, .linkoperation:visited, .linkoperation:hover, .linkoperation:active {
	color: #CF9C9B;
	font-weight: bold;
	text-decoration: underline;
	font-family: Verdana;
	font-size: 10px;
}
a.buttonLink, a.buttonLink:link, a.buttonLink:visited, a.buttonLink:hover, a.buttonLink:active {
	display: block;
	color: white;
	clear: both;
}
.brownLnk:link {
	color: #CF9C9B;
	text-decoration: none;
    font-family: Arial;
    font-size: 13px;
}


/** INPUTS **/
.regisztracioinput, .regisztracioinput2, .regisztracioinput3 {
	font-size: 10px;
	font-family: Verdana;
	color: #583B00;
	background: #F5F3EE;
	margin: 3px 6px 3px 6px;
	border: #7F9DB9 solid 1px;
	height: 15px;
}
.regisztracioinput2 {
	border: #410000 solid 1px ;
	background: #F6EDED;
}
.regisztracioinput3 {
	height: 20px;
}
.search {
	font-size: 10px;
	font-family: Verdana;
	color: #583B00;
	margin: 3px 6px 3px 6px;
	border: #7F9DB9 solid 0px ;
	height: 13px;
}
.regisztracioinputta {
	font-size: 10px;
	font-family: Verdana;
	color : #583B00;
	background: #F5F3EE;
	margin: 3px 6px 3px 6px;
	border: #7F9DB9 solid 1px;
}
select {
	font-family: Verdana, Arial;
	color: #583b00;
	font-size: 7pt;
	background: #F5F3EE;
	margin: 3px 6px 3px 6px;
	border: #000099 solid 1px;
}



/** LOGIN **/
div.loginLayerClass {
	position: absolute;
	opacity: 0.90;
	-moz-opacity:0.9;
	filter:alpha(opacity=90);
	z-index: 99;
	background-color: rgb(9, 46, 80);
	background-position: left top;
	background-repeat: no-repeat;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	color: #555555;
}
div.loginLayerClass a:hover, div.loginLayerClass a:link,
div.loginLayerClass a:visited, div.loginLayerClass a:active {
	color: black;
}

div.loginAreaLayer, div.loginAreaLayerWhite {
	border: solid 1px grey;
	background-color: #795353;
	width: auto;
	height: auto;
	padding: 3px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 20px;
	z-index: 100;
}

div.loginAreaLayer table {
	opacity: 1;
	-moz-opacity:1;
	filter:alpha(opacity=100);
	color: #FFFFFF;
	background-color: #795353;
}





/** MENU **/
.menumain:link {
	color: #ffffff;
	text-decoration: none;
}
.menumain:visited {
	color: #ffffff;
	text-decoration: none;
}
.menumain:hover {
	color: #ffffff;
	text-decoration: none;
}
.menumain:activ {
	color: #ffffff;
	text-decoration: none;
}
#mainMenu,
#mainMenu2 {
	position: relative;
	width: 138px;
	border: 1px none #000000;
}
	#mainMenu #mainMenuTable1,
	#mainMenu2 #mainMenuTable2 {
		width: 141px;
		border-width: 0px;
	}

	#leftFirstTR .menu {
		font: 10pt "Arial";
        font-weight: normal;
	}

	.menusp, .menudo, .menuma {
		/*background-color: #e2e7ff;*/
	}

	#mainMenuTable1 .menu,
	#mainMenuTable1 .menuFirst,
	#mainMenuTable2 .menu,
	#mainMenuTable2 .menuFirst,
	#mainMenuTable1 .menusp,
	#mainMenuTable1 .menuma,
	#mainMenuTable1 .menudo,
	#loginmenu .menu {
		font: 10pt "Arial";
        /*font-weight: bold;*/
		font-weight: normal;
        height: 18px;
        text-align: left;
        vertical-align: middle;
        cursor: pointer;
        white-space: nowrap;
		/*border-bottom: solid 1px white;*/
	}
	#mainMenuTable1 .menuFirst,
	#mainMenuTable2 .menuFirst {
		/*border-top: solid 1px white;*/
	}
	#mainMenuTable1 .menumainsp, #mainMenuTable1 .menumainma, #mainMenuTable1 .menumaindo {
		font-weight: bold;
		/*font-weight: normal;*/
	}
	#mainMenuTable1 .menumainsp {
		/*color: red;*/
	}
	#mainMenuTable1 .menumainma {
		/*color: #D5106D;*/
	}
	#mainMenuTable1 .menumaindo {
		/*color: black;*/
	}
	.menubphidden {
		color: white;
	}

	#mainMenuTable1 .menu .menuContFont {
		font-weight: normal;
		color: #d3caca;
	}
	#mainMenuTable1 #mainMenuTable1 .menuContFontOther {
		font-weight: normal;
		color: #410000;
	}

#loginmenu td {
	height: 20px;
}
	#loginmenu a {
		/*text-decoration: underline;*/
		/*font-weight: bold;*/
		font-weight: normal;
	}

#upperMenu {
	text-align: center;
}
#upperMenu a {
	color: black;
	font-weight: bold;
	text-decoration: none;
	/*font-size: 13px;*/
}



/** GENERAL LAYOUT **/
#uppertable, #lefttable, #homemain, #homemainleft, #maintablemiddle, #maintablefooter {
	border-spacing: 0px;
	border-collapse: collapse;
	border:none;
	padding: 0px;
	margin: 0px;
}
#maintablemiddle {
	margin-top: 3px;
}

#uppertable {
	width: 100%;
	min-width: 980px;
	padding: 0px;
	height: 55px;
	border-bottom: solid 1px #937a75;
}

	#uppertable #uppertableTR {
		/*height: 100px;*/
		height: 20px;
	}
	#uppertable #uppertablePicMenuTR {
		height: 32px;
		background-color: white;
	}

		#uppertable td, #maintablemiddle td, #maintablefooter td, #lefttable td {
			background-position: top right;
			padding: 0px;
			background-repeat: repeat;
		}

#uppertable #firstCol {
	width: 298px;
	height: 55px;
	vertical-align: top;
}

#uppertable #upperMenuTd {
	background-color: white;
	text-align: center;
	height: 32px;
}
#uppertable #felsoMap {
	height: 100px;
	width: 119px;
	vertical-align: top;
	background-image: url( ../grafika/indexkeretcropped/felso_kifuto_atmenet.png );
	background-repeat: repeat-x;
}

#upperLogin {
	width: 298px;
	text-align: right;
	font-size: 9pt;
}



/** BUTTONS **/
/*_ma: tmp, will be deleted after refactoring*/
.button400_pos, .button400_neg, .button350_pos, .button350_neg,
.button430, .button300, .button280, .button200, .button180, .button162, .button155, .button115, .button70, .button48,
.button300_ma, .button280_ma, .button200_ma, .button180_ma, .button162_ma, .button155_ma, .button155_do, .button155_bb,
.button115_ma, .button70_ma, .button48_ma {
	height: 21px;
	cursor: pointer;
	text-align: center;
	font-size: 10pt;
	font-family: Arial;
	border-width: 0px;
	color: white;
	font-weight: normal;
	padding: 0px;
	margin: 5px 0 0;
	border-spacing: 0;
	border-collapse: collapse;
	line-height: 21px;
	padding-bottom: 2px;
	background-repeat: no-repeat;
	background-position: top-left;
	text-decoration: none;
}
	.button400_pos, .button400_neg { width: 400px; }
	.button350_pos, .button350_neg { width: 350px; }
	.button300, .button300_ma { width: 300px; }
	.button430 { width: 430px; }
	.button280, .button280_ma { width: 280px; }
	.button200, .button200_ma { width: 200px; }
	.button180, .button180_ma { width: 180px; }
	.button162, .button162_ma { width: 162px; }
	.button155, .button155_bb, .button155_ma, .button155_do { width: 155px; }
	.button115, .button115_ma { width: 115px; }
	.button70, .button70_ma { width: 70px; }
	.button48, .button48_ma { width: 48px; }
	.button350_pos { background-image: url( ../grafika/home/pos_button_350.gif ); }
	.button350_pos:hover { background-image: url( ../grafika/home/pos_button_350_roll.gif ); }
	.button350_neg { background-image: url( ../grafika/home/neg_button_350.gif ); }
	.button350_neg:hover { background-image: url( ../grafika/home/neg_button_350_roll.gif ); }
	.button400_pos { background-image: url( ../grafika/home/pos_button_400.gif ); }
	.button400_pos:hover { background-image: url( ../grafika/home/pos_button_400_roll.gif ); }
	.button400_neg { background-image: url( ../grafika/home/neg_button_400.gif ); }
	.button400_neg:hover { background-image: url( ../grafika/home/neg_button_400_roll.gif ); }
	.button430 { background-image: url( ../grafika/home/menubutton_430.gif ); }
	.button430:hover { background-image: url( ../grafika/home/menubutton_430_roll.gif ); }
	.button155_bb { background-image: url( ../grafika/home/menubutton_bb.gif ); }
	.button155_bb:hover { background-image: url( ../grafika/home/menubutton_bb_roll.gif ); }

.searchButton162, .searchButton162do, .searchButton162ma, .searchButton162bo, .searchButton162tr {
	padding-bottom: 0px;
	float: left;
	clear: both;
	font-weight: normal;
	margin: 0 0 8px;
}
.searchButton162do {
	background-image: url( ../grafika/home/black_btn.gif );
}
.searchButton162ma, .btnMAstyle {
	background-image: url( ../grafika/home/pink_btn.gif ) !important;
}
	.searchButton162ma:hover, .btnMAstyle:hover {
		background-image: url( ../grafika/home/pink_btn_roll.gif ) !important;
	}
.btnSPstyle {
	background-image: url(../grafika/home/menubutton_162.gif) !important;
}
	.btnSPstyle:hover {
		background-image: url( ../grafika/home/menubutton_162_roll.gif ) !important;
	}

.searchButton162bo {
	background-image: url( ../grafika/home/blue_btn.gif );
}
.searchButton162tr {
	background-image: url( ../grafika/home/gold_btn.gif );
}





/** UNSORTED **/
.upperOperations {
	color: black;
	font: 10pt "Arial";
}
#uppertablePicMenuTR a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

div.help, td.help {
	color: #CCCCCC;
	font-size: 10px;
}

td.myadminLabel {
	color: #FFFFFF;
	font-size: 12px;
}

div.myadminProgressElement, div.myadminProgressSelectedElement {
	color: #FFFFFF;
	display: inline;
	font-size: 11px;
}

div.myadminProgressSelectedElement {
	font-weight: bold;
	font-size: 13px;
}

td.myadminSpacer {
	width: 40px;
}

div.myadminSubmit {
	clear: both;
	text-align: center;
}
.homeListHeaderContainer {
	font-size: 13px;
	font-weight: normal;
	margin: 0 0 5px 5px;
}

h2.subTitle {
	color: #9F8183;
    font-weight: bold;
    font-size: 17px;
    margin: 5px 0 8px;
    font-family: Verdana;
    font-style: normal;
}

.homefreshTable {
	width: 322px;
	border-spacing: 0;
	border-collapse: collapse;
}

	#mainarea .homefreshTable span.outerglow, #mainarea .homefreshTable span.outerglowW {
		color: white;
		font-family: sans-serif;
		font-size: 11px;
	}
	#mainarea .homefreshTable span.outerglowW, #mainarea .homefreshTable .freshDatTdW {
		color: black;
	}

	.hFTFirstTd, .hFTFirstTdSP, .hFTFirstTdMA {
		font-size: 13px;
		width: 322px;
		height: 26px;
		padding-left: 4px;
		background-image: url('../grafika/home/frissites_header.gif');
		background-repeat: no-repeat;
		font-weight: normal;
		color: #CF9C9B;
	}
	.hFTFirstTdMA {
		background-image: url('../grafika/home_ma/frissites_header.gif');
		color: black;
	}

		.hFTFirstTd a.hFActual, .hFTFirstTd a.hFBase {
			color: white;
			text-decoration: underline;
			font-weight: bold;
			font-size: 11px;
		}
		.hFTFirstTd a.hFBase {
			color: #CF9C9B;
			text-decoration: none;
			font-size: 10px;
		}
		td.hFTBorderCol, td.hFTBorderColSP, td.hFTBorderColMA {
			width: 1px;
			background-color: #A48D8D;
		}
			td.hFTBorderColMA {
				background-color: black;
			}
		td.hFTFooterCols, td.hFTFooterColsSP, td.hFTFooterColsMA {
			background-color: #a48d8d;
			height: 1px;
		}
			td.hFTFooterColsMA {
				background-color: black;
			}
		td.hFOsszes, td.hFOsszesSP, td.hFOsszesMA {
			text-align: center;
			padding: 8px 0 3px 0 !important;
		    background-color: #410000;
		}
			td.hFOsszesMA {
				background-color: #f3f3f1;
			}
		td.hFOsszesMA a.pollBtnLnks {
			color: black;
		}

#postListHeader, #homeRecomListHeader {
	font-size: 13px;
	width: 322px;
	height: 17px;
	margin: 0px;
	padding: 4px;
	background-repeat: no-repeat;
}
	#homeRecomList .similarContainer {
		margin-left: 5px;
	}

.allFresBoxHeader {
	height: 26px;
	/*background-image: url("../grafika/home/frissites_header.gif");
	background-repeat: no-repeat;*/
	background-color: #410000;
	text-align: center;
	font-weight: bold;
	font-size: 11px;
}

.allFresBoxOuter {
	float: left;
	width: 32%;
	background-color: #410000;
	color: white;
}

.allFresBoxContentDiv {
	border: solid 1px #A48D8D;
}

	.allFresBoxContentDiv .pictureTextDivMiniList, .allFresBoxContentDiv .nevToShowOnMiniList {
		display: none;
	}

.allFreshDateDiv {
	background-color: #520A0B;
	clear: both;
	color: white;
	padding: 5px;
}


.widgetOuterDiv {
	margin-top: 15px;
	height: auto;
	width: 483px;
}
	.widgetHeaderDiv {
		background-image: url("./grafika/widgets/widget_header.gif");
		height: 23px;
		background-repeat: no-repeat;
		padding-left: 5px;
	}
	.widgetInnerDiv {
		width: 481px !important;
		width /**/: 483px;
		border: solid 1px #937A7A;
		padding-top: 5px;
		padding-bottom: 5px;
		background-color: #300000;
	}

#statCategories .smallthumbIcons {
	left: 0;
}

#list_filter_container {
	font-family: "Open Sans";
	font-size: 11px;
}
#list_filter_container_varoskerulet input[type=checkbox]:checked + label,
#list_filter_container input[type=checkbox]:checked + label {
	font-weight: bold;
	color: #5AEA28;
}
.tagMenu:link, .tagMenu:hover, .tagMenu:visited, .tagMenu:active {
	color: red;
}

#jokeHeader, #gifHeader {
	background-image: url('../grafika/home/frissites_header.gif');
	background-repeat: no-repeat;
	height: 26px;
	margin: 0px;
	padding: 0px;
	font-size: 13px;
	color: white;
	font-family: Verdana;
}

#jokeContainer, #gifContainer {
	background-color: #410000;
	border: solid 1px grey;
	border-top-width: 0px;
	margin: 0px;
	padding: 10px 0;
	width: 322px;
}
	#jokeContainer a, #gifContainer a {
		color: white;
		font-weight: bold;
	}

.filterBar-icon { width: 23px; height: 21px; margin: 0 0 0 5px; padding: 0; background-repeat: no-repeat; }
#like-or-not-img { background-image: url("../grafika/like-or-not.png"); }
#like-or-not-img:hover { background-image: url("../grafika/like-or-not-over.png"); }
.filterBar-small-icon { width: 20px; height: 20px; margin: 0 0 0 2px; background-repeat: no-repeat; }
#clearListFilters-img { background-image: url("../grafika/null-filters.png"); }
#clearListFilters-img:hover { background-image: url("../grafika/null-filters-over.png"); }
#clearListFiltersDelSet-img { background-image: url("../grafika/null-filters-with-saved.png"); }
#clearListFiltersDelSet-img:hover { background-image: url("../grafika/null-filters-with-saved-over.png"); }
#picSizeChange-img { margin: 0 5px 0 2px; background-image: url("../grafika/small-pics.png"); }
#picSizeChange-img:hover { background-image: url("../grafika/small-pics-over.png"); }
#picNormalSizeChange-img { margin: 0 5px 0 2px; background-image: url("../grafika/normal-pics.png"); }
#picNormalSizeChange-img:hover { background-image: url("../grafika/normal-pics-over.png"); }
#saveFilter-img { background-image: url("../grafika/filter_save.png"); }
#saveFilter-img:hover { background-image: url("../grafika/filter_save-over.png"); }
#filterSaved-img { background-image: url("../grafika/filter_saved.png"); }
#filterSaved-img:hover { background-image: url("../grafika/filter_saved-over.png"); }
#searchLoadFilterDiv:hover #filterSaved-img  { background-image: url("../grafika/filter_saved-over.png"); }
#filterSavedSuccess-img { background-image: url("../grafika/filter_saved_success.png"); }

#disableAutoFilters-img { background-image: url("../grafika/enabled-filters-over.png"); }
#disableAutoFilters-img:hover { background-image: url("../grafika/enabled-filters.png"); }
#enableAutoFilters-img { background-image: url("../grafika/enabled-filters.png"); }
#enableAutoFilters-img:hover { background-image: url("../grafika/enabled-filters-over.png"); }
#forceFilters-img { background-image: url("../grafika/force-filters.png"); }
#forceFilters-img:hover { background-image: url("../grafika/force-filters-over.png"); }

#nicePicContainerUpper, .dailyPostsContainerUpper {
	font-family: Verdana;
	color: #CF9C9B;
}
	#nicePicContainerHeader, .dailyPostsContainerHeader {
		background-image: url('../grafika/home/frissites_header2.gif');
		background-repeat: no-repeat;
		height: 26px;
		margin: 0px;
		padding: 0px;
		font-size: 13px;
	}
	.dailyPostsContainerHeader a { color: #CF9C9B; }
	#nicePicContainer, .dailyPostsContainer {
		background-color: #410000;
		border: solid 1px grey;
		border-top-width: 1px;
		margin: 0px;
		padding: 5px;
	}
	.dailyPostsContainer {
		padding: 0;
	}

.dailyPostsContainer .postTitle {
	color: white;
	font-size: 14px;
	font-weight: bold;
}
.dailyPostsContainer a {
	color: white;
}

#ui-datepicker-div .ui-datepicker-calendar .ui-state-active,
#ui-datepicker-div .ui-datepicker-calendar .ui-widget-content .ui-state-active { background: #FF0000; color: white;}

a.afterMenuLink:link, a.afterMenuLink:active, a.afterMenuLink:hover, a.afterMenuLink:visited {
	font: 10pt 'Arial';
	display: block;
	width: 141px;
	margin: 5px;
	color: white;
}

div.messages-container {
	clear: both;
	margin: 10px 0 10px 20px;
	word-wrap: break-word;
}
	div.messages-body {
		color: white;
		word-wrap: break-word;
		margin-top: 12px;
		font-size: 12px;
	}

	.marketingNL a, .marketingNL a:hover, .marketingNL a:visited, .marketingNL a:active {
		color: white;
		font-weight: bold;
	}

font.reviewStatus {
	color: #CF9C9B;
}

#mainarea h1.pageTitle {
	font-family: sans-serif;
	font-size: 17px;
	font-weight: bold;
	margin-top: 0px;
}
	#mainarea h1.pageTitle span {
		color: #CF9C9B;
	}

#poll_archive_tbl .poll_inside_box:nth-of-type(1) {
	margin: 0 auto;
}

	#maintablemiddle #mainarea {
		padding-left: 10px;
		background-position: top-center;
		background-repeat: repeat-y;
		padding-top: 15px;
	}

	#seoContentFooterContainerDiv {
		clear: both;
	}
		#seoContentFooterContainerDivP {
			margin-top: 660px;
		}

		#uppertable #felsoLanguage, #uppertable #firstCol, #uppertable #felsoSlogan {
			background-image: url( ../grafika/indexkeretcropped/header_bottom_bg.gif );
			background-repeat: repeat-x;
			background-color: white;
			background-position: bottom;
		}
		#uppertable #felsoLanguage {
			width: 298px;
		}
		#uppertable #firstCol {

			background-position: bottom;
		}

		#radomSarok {
			border: 0px;
			width: 151px;
			height: 131px;
		}
		#uppertable td.norepeatbg, #lefttable td.norepeatbg, #maintablemiddle td.norepeatbg,
		#maintablefooter td.norepeatbg {
			background-repeat: no-repeat;
		}
#sloganDiv {
	text-align: center;
	margin-top: 2px;
}

	#sloganDiv a {
		text-decoration: none;
	}

	#tagadminMainDiv .listPage #dataTable tbody tr td A {
		text-decoration: none !important;
	}

.footerContentContainer { display: flex; flex-direction: column; }
.footerContent { margin: 15px auto 0; text-align: left; }
.footerContentColumnTd { height: 17px; color: #CF9C9B; }
	.footerContentColumnTd a { color: white !important; font-weight: bold; font-size: 12px !important; }
.footerContentColumn { margin-right: 15px; float: left; }

/** HOME PAGES **/

/** MIDDLE BANNER, NEXT TO XXX POST **/
	#homePostPlusBanner {
		clear: both;
		margin: 20px 10px 0 5px;
		display: flex;
	}
		#postsOutsite {
			float: left;
			width: 475px;
		}
		#homeBannerContainerPost {
			text-align: center;
			position: relative;
		    width: 100%;
		    margin-top: 26px;
		}
			#homeBannerContainerInner {
				display: inline-block;
				/*
				position: absolute;
				top: 50%;
				margin: -250px 0 0 -150px;
				left: 50%;
				overflow: hidden;
				*/
				width: 300px;
				height: 500px;
			}
			@media screen and (max-width: 1300px) {
			    #homeBannerContainerPost {
			        display: none;
			    }
			}
			@media screen and (min-width: 1301px) {
			    #homeBannerContainerPost {
			        display: block;
			    }
			}

/** FORUMS **/

	/** FORUM POSTLIST **/
	div.forum-body {
		font-size: 12px;
		padding: 5px;
	}
	.postOuterContainer {
		border: solid 1px #A0706E;
		background-color: #410001;
		margin-bottom: 20px;
		border-collapse: collapse;
		width: 100%;
	}
		.postOuterContainer .postHeaderContainer .imageContainer {
			width: 45px;
			vertical-align: top;
			background-color: #520A0B;
		}
		.postOuterContainer .postHeaderContainer .forumPostHeaderFelado {
			float:left;
			padding: 5px;
		}
		.postOuterContainer .postHeaderContainer .forumPostHeaderSorszam {
			float: right;
			padding: 5px;
		}

		#maintablemiddle td .postOuterContainer .postContentContainer {
			background-color: #520A0B;
			vertical-align: top;
			padding-right: 5px;
			padding-bottom: 5px;
		}
			.postContentContainer .forum_post_link {
				text-align: center;
				padding: 5px 0;
				background-color: #410001;
			}

	/** FORUM THREADLIST **/
	h1.forumListTitles {
		font-family: sans-serif;
		font-size: 18px;
		font-weight: bold;
		margin: 0 0 10px;
	}

	div.forumThreadTypeContainer {
		margin-bottom: 30px;
	}

	#threadFilter input[type="radio"]:checked + label {
	    color: #5AEA28;
	    font-weight: bold;
	}

	div.threadTitle {
		font-weight: bold;
		font-size: 13px;
		/*color: #5AEA28;*/
		display: inline;
	}
	div.threadLastPostText {
		word-break: break-word;
		font-size: 12px;
		color: #D09D9C;
	}

/** LENGTHEN **/
	#payTypeRadios {
		text-align: center;
	}


/** LIST, TAG THUMBS **/
	.similarContainer {
		height: auto;
	}

	#listThumbsDiv {
		text-align: center;
		width: 100%;
		clear: both;
	}
	#homeGirlList {
		text-align: center;
		clear: both;
		margin-left: 5px;
	}

	#listThumbsDiv .miniColspanTdDiv1,
	#homeGirlList .miniColspanTdDiv1 {
		position: relative;
		top: 0px;
		width: 91px;
		height: 100px;
		margin-top: 2px;
	}
		#listThumbsDiv .miniColspanTdDiv1_1,
		#homeGirlList .miniColspanTdDiv1_1 {
			position: absolute;
			width: 100px;
			height: 98px;
			z-index: 100;
		}
		.colspanTdDiv2 {
			position: absolute;
			top: 10px;
			left: 10px;
			width: 120px;
			height: 150px;
			z-index: 50;
		}
			#externalAdvslist .colspanTdDiv2 {
				height: 140px;
			}
	#listThumbsDiv .miniColspanTdDiv2,
	#homeGirlList .miniColspanTdDiv2 {
		position: absolute;
		top: 5px;
		left: 5px;
		width: 78px;
		height: 97px;
		z-index: 50;
	}

	#listThumbsDiv .listOuterDiv,
	.similarContainer .listOuterDiv,
	#homeGirlList .listOuterDiv,
	/* ezek nem bizos, h kellenek, ha nem, a TODO alatti eleg kicsit kiegeszitve */
	.homeListGirlNormal,
	.homeListGirlMini,
	.randomMinilist {
		margin: 0 5px 10px;
		float: left;
	}
	#allFreshDiv #listThumbsDiv .listOuterDiv {
		width: auto;
		height: auto;
	}
		#listThumbsDiv .listOuterDiv,
		#homeGirlList .listOuterDiv,
		.similarContainer .listOuterDiv {
			margin: 0 5px 5px 0;
			border: 0px;
			padding: 0px;
			width: 158px;
			height: 187px; /*170*/
			position: relative;
		}
		.listOuterDiv .lOD_SP, .lOD_VIDEK { background-color:  #ac1010 !important; }
		.listOuterDiv .lOD_MA { background-color:  #d74a8c !important; }
		.listOuterDiv .lOD_DO { background-color:  #2b0840 !important; }
		.listOuterDiv .lOD_FIU { background-color:  #2f417f !important; }
		.listOuterDiv .lOD_PAR { background-color:  #b04211 !important; }
		.listOuterDiv .lOD_TRAVI { background-color:  #a28328 !important; }

		#listPageListContent #listThumbsDiv .listOuterDiv {
			margin: 0 5px 5px 0;
		}

		#listThumbsDiv.userThumbs .listOuterDiv {
			width: 140px;
			height: 168px;
		}
		#externalAdvslist #listThumbsDiv .listOuterDiv {
			width: 145px;
			height: 156px; /*180px*/
			margin: 0 1px 1px 0;
		}
		#newListLeftThContainer #listThumbsDiv .listOuterDiv {
			margin: 0 2px 2px 0;
		}
		.listOuterDiv .colspanTdDiv1,
		.homeListGirlNormal .colspanTdDiv1 {
			position: relative;
			top: 0px;
			width: 158px;
			height: 170px;
			margin-top: 0;
		}
			#externalAdvslist .listOuterDiv .colspanTdDiv1 {
				width: 145px;
				height: 156px;
			}

			.listOuterDiv .colspanTdDiv1_1,
			.homeListGirlNormal .colspanTdDiv1_1 {
				position: absolute;
				width: 158px;
				height: 170px;
				z-index: 100;
			}
				#externalAdvslist .listOuterDiv .colspanTdDiv1_1 {
					width: 145px;
					height: 156px;
				}
	.onExternalAdvThumbLink {
		display: block;
		z-index: 999;
		left: 0;
		width: 158px;
		height: 187px; /*170*/
		position: absolute;
		top: 0;
	    background: url('https://rosszlanyok.hu/grafika/spacer.gif') 0 0 repeat;
	}

	.homeListGirlMini {
		margin-bottom: 11px;
	}

	#listThumbsDiv .colspanTdDiv1 .listTagImage,
	#listThumbsDiv .miniColspanTdDiv1 .listTagImage,
	#homeGirlList .colspanTdDiv1 .listTagImage,
	#homeGirlList .miniColspanTdDiv1 .listTagImage,
	.similarContainer .listTagImage,
	.randomMinilist .listTagImage {
		margin-top: 3px;
		margin-bottom: 0px;
		border-width: 0px;
	}
		/** TODO **/
		#listThumbsDiv .colspanTdDiv1 .listTagImage,
		#homeGirlList .colspanTdDiv1 .listTagImage,
		.similarContainer .colspanTdDiv1 .listTagImage {
			margin-top: 0;
		}
	#listThumbsDiv .colspanTdDiv1 .listTagImage,
	#homeGirlList .colspanTdDiv1 .listTagImage,
	.similarContainer .colspanTdDiv1 .listTagImage,
	.homeListGirlNormal .listTagImage,
	.extTagTable .listTagImage {
		width: 158px;
		height: 170px;
	}
		#externalAdvslist #listThumbsDiv .colspanTdDiv1 .listTagImage {
			width: 145px;
			height: 156px;
		}

	#listThumbsDiv .miniColspanTdDiv1 .listTagImage,
	#homeGirlList .miniColspanTdDiv1 .listTagImage,
	#homeGirlList .homeListGirlMini .listTagImage {
		margin-top: 0px;
	}

	#listThumbsDiv .miniColspanTdDiv1 .listTagImage,
	#homeGirlList .miniColspanTdDiv1 .listTagImage,
	.homeListGirlMini .listTagImage,
	.randomMinilist .listTagImage {
		width: 91px;
		height: 98px;
	}

	.hiddenNev {
		height: 20px;
		position: absolute;
		left: 2px;
		bottom: 0;
		opacity: 0;
		filter: alpha(opacity=0);
	}
	.bigthumbIcons, .smallthumbIcons, .mediumthumbIcons, .bigthumbIcons08, .bigthumbIconsRight {
		width: 17px;
		height: 125px;
		position: absolute;
		left: 0;
		top: -170px;
		opacity: 0.7;
		filter: alpha(opacity=70);
	}
	.bigthumbIconsRight {
		left: auto;
		right: 0;
	}
		#externalAdvslist .bigthumbIcons {
			top: -156px;
		}

		.bigthumbIcons08 {
			width: 17px;
			height: 112px;
			position: absolute;
			left: 4px;
			top: -121px;
		}
	#thumbContainer .bigthumbIcons {
		left: 2px;
		top: -152px;
	}
	#thumbContainer .bigthumbIcons08 {
		left: 2px;
		top: -121px;
	}
	.mediumthumbIcons {
		width: 10px;
		height: 108px;
		left: 0px;
		top: -118px;
	}

	.smallthumbIcons {
		width: 10px;
		height: 91px;
		left: 5px;
		top: -98px;
	}

	#listThumbsDiv .pictureTextDivMiniList,
	#listThumbsDiv .videoIconDivMiniList,
	#listThumbsDiv .calledIconDivMiniList,
	#bestAssContainer .pictureTextDivMiniList,
	#bestAssContainer .videoIconDivMiniList,
	#bestAssContainer .calledIconDivMiniList,
	.randomMinilist .pictureTextDivMiniList {
		width: 20px;
		height: 20px;
		position: absolute;
		font-size: 9px;
		text-align: center;
	}
	#bestAssContainer .pictureTextDivMiniList,
	#beszamoloMainDiv .pictureTextDivMiniList,
	#listThumbsDiv .pictureTextDivMiniList,
	.randomMinilist .pictureTextDivMiniList {
		background-color: #000000;
		width: 91px;
		height: 16px;
		left: 5px;
		top: -18px;
		opacity: 0.7;
		filter: alpha(opacity=70);
	}
	.randomMinilist .pictureTextDivMiniList {
		left: 0;
	}
	#bestAssContainer .pictureTextDivMiniList {
		left: 0px;
		width: 108px;
	}
	#bestAssContainer .videoIconDivMiniList,
	#listThumbsDiv .videoIconDivMiniList {
		left: 5px;
		top: -99px;
		width: 10px;
		height: 10px;
	}
	#bestAssContainer .videoIconDivMiniList {
		left: 0px;
		top: -118px;
	}
	#bestAssContainer .calledIconDivMiniList,
	#listThumbsDiv .calledIconDivMiniList {
		left: 86px;
		top: -99px;
		width: 10px;
		height: 10px;
	}
	#bestAssContainer .calledIconDivMiniList {
		left: 88px;
		top: -118px;
	}

	.commonvideoIconDivList,
	.commoncalledIconDivList,
	.commonrealIconDivList,
	.commonfilledIconDivList,
	.commonlikeIconDivList,
	.commonnotlikeIconDivList,
	.commonvisitedIconDivList,
	.commonvideoIconMiniDivList,
	.commoncalledIconMiniDivList,
	.commonlikeIconMiniDivList,
	.commonnotlikeIconMiniDivList,
	.commonvisitedIconMiniDivList,
	.commonrealIconMiniDivList,
	.commonfilledIconMiniDivList {
		width: 20px;
		height: 20px;
		float: left;
	}
	.commonvideoIconDivList,
	.commoncalledIconDivList,
	.commonlikeIconDivList,
	.commonnotlikeIconDivList,
	.commonvisitedIconDivList,
	.commonfilledIconDivList,
	.commonvideoIconMiniDivList,
	.commonlikeIconMiniDivList,
	.commonnotlikeIconMiniDivList,
	.commonvisitedIconMiniDivList,
	.commoncalledIconMiniDivList,
	.commonfilledIconMiniDivList {
		float: left;
	}
	.commonvideoIconMiniDivList,
	.commonlikeIconMiniDivList,
	.commonnotlikeIconMiniDivList,
	.commonvisitedIconMiniDivList,
	.commoncalledIconMiniDivList,
	.commonrealIconMiniDivList,
	.commonfilledIconMiniDivList {
		width: 10px;
		height: 10px;
	}

	.pictureTextDivList,
	.videoIconDivList,
	.calledIconDivList {
		width: 20px;
		height: 20px;
		position: absolute;
		font-size: 10px;
		text-align: center;
	}
	.pictureTextDivList,
	#listThumbsDiv .nevToShowOnList,
	#homeGirlList .nevToShowOnList,
	.similarContainer .nevToShowOnList {
		background-color: #000000;
		width: 158px;
		height: 17px;/*17px*/
		color: white;
	}
	.pictureTextDivList {
		background-color: #000000;
		left: 0;
		top: -17px;
		opacity:0.7;
		filter:alpha(opacity=70);
		overflow: hidden;
		color: white;
	}
		#externalAdvslist #listThumbsDiv .nevToShowOnList {
			width: 145px;
		    background-color: rgba( 0, 0, 0, 0);
	        color: white;
			top: -17px;
			position: absolute;
		}
		.categoryHalfIcon, .nemeHalfIcon {
			position: absolute; top: 2px; right: 2px; z-index: 90; height: 14px; width: 14px;
		}
		.nemeHalfIcon {
			z-index: 95;
		}

		.pictureTextDivList .pictureTextDivInner,
		.pictureTextDivMiniList .pictureTextDivInner {
			margin-top: 2px;
/*			font-weight: bold;*/
		}
		#bestAssContainer .pictureTextDivList {
			left: 0px;
		}
		#externalAdvslist .pictureTextDivList {
			left: 0;
			top: -39px;
			opacity: 0.7;
		}
	#listThumbsDiv .nevToShowOnList,
	#homeGirlList .nevToShowOnList,
	.similarContainer .nevToShowOnList {
		font-weight: normal;
	    font-size: 10px;
	    text-align: left;
	}
	#externalList .nevToShowOnList {
		padding-top: 1px !important;
	}
		.nevToShowOnList .nev, #externalAdvslist #listThumbsDiv .nevToShowOnList .nev {
			display: inline-block;
			margin-left: 6px;
			line-height: 16px;/*17px*/
			font-family: "Open Sans";
			font-size: 11px;
			font-weight: normal;
		}
		#externalAdvslist #listThumbsDiv .nevToShowOnList .nev {
			margin-left: 3px;
		}
	#listThumbsDiv .nevToShowOnMiniList {
		clear: both;
		margin-top: 2px;
		width: 91px;
		text-align: center;
		color: #CF9C9B;
	}
	.videoIconDivList {
		left: 5px;
		top: -151px;
	}
	#bestAssContainer .videoIconDivList {
		left: 0px;
	}

	.calledIconDivList {
		left: 125px;
		top: -151px;
	}
	#bestAssContainer .calledIconDivList {
		left: 120px;
	}

	.iconCallNevLine,
	.iconCallImg20,
	.iconVideoImg20,
	.iconRealImg20,
	.iconLikeImg20,
	.iconnotLikeImg20,
	.iconVisitedImg20,
	.iconFillImg20 {
		width: 17px;
		height: 17px;
		border-width: 0px;
		background-image: url( ../grafika/call-icon.gif );
		background-size: 17px 17px;
		background-repeat:no-repeat;
	}

	.iconCallNevLine {
		background-image: url( ../grafika/call-icon-thumb.gif );
		float: right;
		margin: 0 4px 0 0;
	}
	.iconVideoImg20 {
		background-image: url( ../grafika/video-icon.png );
	}
	.iconRealImg20 {
		background-image: url( ../grafika/realphoto-icon.png );
	}
	.iconFillImg20 {
		background-image: url( ../grafika/filled-icon.png );
	}
	.iconLikeImg20 {
		background-image: url( ../grafika/like-icon.png );
	}
	.iconnotLikeImg20 {
		background-image: url( ../grafika/notlike-icon.png );
	}
	.iconVisitedImg20 {
		background-image: url( ../grafika/visited-icon.png );
	}

	.videoIconDivMiniList .iconImg20,
	.calledIconDivMiniList .iconImg20,
	.iconImg10 {
		width: 10px;
		height: 10px;
		border-width: 0px;
	}

	#bestAssContainer .iconImg20 {
		width: 20px;
		height: 20px;
		border-width: 0px;
	}


/** MYADMIN **/
#timerCallLeftDown {
	text-align: right;
	width: 38px;
	color: white;
	font-family: Verdana;
	font-size: 10px;
	background-color: #795353;
	border-width: 0px;
	margin: 0;
	padding: 0;
}

/** EXTERNAL LISTS **/
.dataOnThumb {
	position: absolute;
/*	font-size: 10px;*/
	text-align: center;
	color: white;
	background-color: #000000;
	width: 145px;
	height: 17px;
	opacity:0.7;
	filter: alpha(opacity=70);
	font-family: "Open Sans";
	font-size: 11px;
	font-weight: normal;
}
#externalAdvslist .onExternalAdvThumbLink,
#externalAdvslist .onExternalAdvThumbLink {
	width: 145px;
	height: 156px;
	background: url('https://rosszlanyok.hu/grafika/spacer.gif') 0 0 repeat;
}


/** tag admin parts **/
.sitesSubTitle {
	float: left;
	font-weight: bold;
	font-size: 15px;
	color: #CF9C9B;
	margin-bottom: 2px;
}
.sitesBox {
	clear: both;
	border: solid 1px grey;
	background-color: #795353;
	width: 100%;
	float: left;
	padding: 5px;
}
.rightsMainLabel {
	display: inline-block;
	width: 132px;
}



/** age gate cover, splash page **/
#categoriesContainer #coverDiv {
	z-index: 10;
	position: absolute;
	top: 7px;
	width: 884px;
	height: 516px;
	left: 7px;
	background-color: rgba(246, 238, 238, 0.95);
	/*display: none;*/
}
	#categoriesContainer #coverHelp {
		margin-top: 37px;
		text-align: center;
		color: black;
	}

	#categoriesContainer #noscriptCoverDiv {
		z-index: 20;
		position: absolute;
		top: 7px;
		width: 884px;
		height: 516px;
		left: 7px;
		background-color: rgba(246, 238, 238, 0.9);
	}
		#categoriesContainer #noscriptCoverDiv p {
			color: black;
			text-align: center;
		}
		#coverBtns a {
			font-weight: normal;
			display: block;
			font-size: 10pt;
			color: white;
		}

	#over18Filter, #over18Filter a, #lawText {
    	font-size: 11px;
    	color: black;
	}

	#over18Filter, #lawText {
	    margin: 90px auto 0;
	    text-align: justify;
	}
	#over18Filter {
		margin-top: 10px;
	}

	#insideCoverDiv #over18Filter {
		text-align: center;
		width: 99%;
	}
		#insideCoverDiv #over18Filter a {
			font-weight: bold;
		}

	#lawText, #lawText a {
		font-weight: normal;
	    font-size: 11px;
	    line-height: 120%;
	    display: block;
	    color: black;
	}
		#lawText a {
			font-weight: bold;
			display: inline;
		}
/** age gate cover, general page **/
	#insideCoverDiv {
		height: 100%;
		width: 100%;
		background-color: rgba(246, 238, 238, 0.95);
		position: absolute;
	    z-index: 1001;
	}


/** signup **/
#rightInnerUpperContainer, #rightInnerlowerContainer {
	border: solid 1px grey;
	background-color: #795353;
	width: 90%;
	margin: 0 auto;
	color: white;
	font-family: Arial;
}
	#rightInnerUpper {
		text-align: justify;
		font-size: 13px;
		padding: 10px 5px;
	}
#rightInnerlowerContainer {
	margin: 0 auto 10px;
	text-align: center;
	font-weight: bold;
}
	#rightInnerlowerContainer a {
		font-family: Arial;
	}
	#rightInnerlowerContainer span {
		font-family: sans-serif;
		font-size: 16px;
	}
	#rightInnerlowerUpper {
		font-size: 16px;
		font-weight: bold;
		margin: 23px 0 16px;
	}
	#rightInnerlowerMiddle2 {
		font-size: 16px;
		text-align; center;
	}
	#rightInnerlowerFormLower {
		font-size: 16px;
		text-align: center;
		vertical-align: top;
		margin-bottom: 6px;
	}

#list_filter_container table td input[type='checkbox'], #filterContent input[type='checkbox'] {
	margin-right: 0;
}
#list_filter_container table td select, #filterContent select {
	margin-left: 4px;
}

p.faqTitle a {
	color: white;
	font-weight: bold;
	font-size: 13px;
}
.newNormaFont {
	font-family: Arial;
	font-size: 10pt;
}

.pagingOuter, .pagingActual {
	font-size: 14px;
	font-weight: bold;
	font-family: sans-serif;
}
.pagingActual {
	font-size: 17px;
}

#tag_admin_list a:hover, #tag_admin_banners  a:hover {
	text-decoration: underline;
}

#mainarea span.select2-chosen, #mainarea span.select2-arrow {
	height: auto;
	color: black;
	font-family: Verdana, Arial;
	font-size: 7pt;
	font-weight: normal;
}
#mainarea span.select2-arrow {
	height: 15px;
}

.catPageSelect {
	height: auto;
	width: 155px;
	margin: 1px 0 0 7px;
	border: solid 1px black;
	background-color: white;
}
#list_filter_container ul.select2-choices { min-height: 13px; }
#list_filter_container li.select2-search-choice { line-height: 1; margin: 0; padding: 1px 5px 0px 18px; }
#list_filter_container li.select2-search-choice div { font-size: 9px; }
#list_filter_container a.select2-search-choice-close{ top: -1px; }
#list_filter_container .select2-container-multi .select2-choices .select2-search-field input{ padding: 0; }

/* The Modal (background) */
.RL_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.RL_modal .RL_modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #666;
    width: 310px; /* Could be more or less, depending on screen size */
    color: black;
}

/* The Close Button */
#mainarea .RL_modal .close {
    color: black;
    float: right;
    font-size: 18px;
    font-weight: bold;
}

#mainarea .RL_modal .close:hover,
#mainarea .RL_modal .close:focus {
    text-decoration: none;
    cursor: pointer;
}
.RL_modal-content input {
	vertical-align: inherit;
}

.borderedBox {
	border: solid 1px grey;
	background-color: #795353;
	width: 48%;
	float: left;
	padding: 5px;
}

#ownStatConainer a:hover, #ownStatPicConainer a:hover,
#blackListContainer a:hover, #ownStatPhoneConainer a:hover,
#videkiVarosBox  a:hover {
	text-decoration: underline;
}

#kl_app, .nGF {
	font-family: "Open Sans";
	font-size: 12px;
}